/* Body, Containers, Wrappers */
html, body {
	background: #eee;
	color: #231f20;
	font-family: hnltstd, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.2em;
	text-transform: lowercase;
}
html, body, .container-full, .container-wrap {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}
h2 { 
  font-size: 150%;
}
h3 { 
  font-size: 125%;
}
a {
  text-decoration: none !important;
}
.container-wrap td { 
	vertical-align: middle; 
	text-align: center;
}

/* Main Section */
div#main-gradient{
	background: #fff;
	background: -webkit-linear-gradient(#fff,#eee);
	background: -o-linear-gradient(#fff,#eee);
	background: -moz-linear-gradient(#fff,#eee);
	background: linear-gradient(#fff,#eee);
}
td#main { 
	background-image: url(../img/scroll-down.svg);
	background-size: 2.5em;
	background-repeat: no-repeat;
	background-position: bottom center;
}
img#zip {
	width: 100%;
	max-width: 4em;
}
td#main h1 {
	font-size: 10.5em;
	line-height: 100%;
	font-weight: 200;
	margin-bottom: 16px;
}
td#main img, td#main h1, td#main p {
	opacity: 0;
	animation-name: animain;
	animation-duration: 0.75s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
td#main img { 
  animation-delay: 0.5s; 
}
td#main h1 { 
  animation-delay: 1.5s; 
}
td#main p { 
  animation-delay: 2.5s; 
}
@keyframes animain {
	from { opacity: 0; }
	to   { opacity: 1; }
}
a#scroll {
	z-index: 99999;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	width: 100%;
	height: 3em;
}

/* Info Section */
img.guy {
	width: 100%;
  height: auto;
	margin-top: -2px;
	margin-bottom: 4px;
}
img.helper {
	width: 100%;
  height: auto;
	max-width: 5em;
	margin-top: -2px;
	margin-bottom: 4px;
}
p.username {
  vertical-align: center;
}
span.user { 
  font-weight: bold; 
  letter-spacing: -0.05em;
}
span.name { 
  font-size: 87.5%; 
  color: #231f20;
}

/* Download Sections */
hr#download-separator {
  margin: 2em 0;
}
div.download { 
  margin-top: 2em; 
}
div.download a, div.download a:visited, a.download-min, a.download-min:visited {
	color: #09f;
	background: rgba(0,0,0,0);
	text-decoration: none;
	transition: 0.15s ease-in-out;
}
div.download a {
  font-weight: 300;
	font-size: 4em;
}
div.download a:hover, div.download a:active, a.download-min:hover, a.download-min:active {
	color: #08e;
	text-shadow: rgba(0,0,0,0.25) 0 0.025em 0.05em;
}
div.download p {
  line-height: 1em; 
  font-size: 0.875em;
}

/* Bio Pages */
div#bio-header {
  background: #fff; 
  padding: 0.125em 0 0.25em; 
  margin-bottom: 2em; 
  box-shadow: rgba(0,0,0,0.2) 0 0.1em 0.5em;
}
a#top-logo {
  color: #231f20;
  font-size: 2em;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: -0.03125em;
}
a#top-logo:after {
  content: '3guys1pack';
}
a#top-logo img {
  margin-top: -0.125em;
  width: 1em;
  height: auto;
}
div#bio-guy {
  text-align: center;
}
div#bio-guy img {
  width: 100%;
  max-width: 10em;
  height: auto;
}
div#bio-name h1 {
  font-weight: 700;
  font-size: 10em;
  line-height: 1em;
  letter-spacing: -0.05em;
}
div#bio-text h2 {
  text-align: right;
}
p.contrib-head {
  text-decoration: underline;
  margin-bottom: 0;
}

/* Responsive Rules */
@media (max-width: 1199px) { 
  td#main h1 { 
    font-size: 8em; 
    margin-bottom: 12px; 
  }
  div#bio-name h1 { 
    font-size: 8.2em; 
  }
}
@media (max-width: 991px) { 
  td#main h1 { 
    font-size: 6.5em; 
    margin-bottom: 8px; 
  }
  div.download a { 
    font-size: 3.5em; 
  }
  div#bio-name h1 { 
    font-size: 5.6em; 
  }
  div#bio-text h2 {
    font-size: 125%;
  }
}
@media (max-width: 767px) { 
  td#main h1 { 
    font-size: 4.5em; 
    margin-bottom: 6px; 
  }
  div#bio-name h1 { 
    font-size: 3.75em; 
  }
  div#bio-text h2 { 
    font-size: 150%;
    text-align: left; 
  }
}
@media (max-width: 575px) {
	html, body { 
    font-size: 16px;
    line-height: 1.1em;
  } 
  td#main h1 { 
    font-size: 3em; 
    font-weight: 300; 
    margin-bottom: 2px; 
  }
  div.download a { 
    font-size: 3em; 
  } 
  div#bio-guy img { 
    max-width: 6em; 
  }
  div#bio-name h1 {
    font-size: 3.5em;
    text-align: center;
  }
}